/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    color: #5A682E;
    text-align: center;
    font-size: 32px;
}


.devis-container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Masquer le devis initialement */
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    text-align: left;
}


#dateDevis, #validiteDevis {
    font-weight: bold;
    text-align: right;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #E4E7D1;
}


.total-section {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}


button {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #5A682E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3E4B1F;
}


#navigation {
    text-align: center;
    margin-bottom: 20px;
}

#retourButton {
    display: inline-block;
}

#openForm {
    display: block; 
}


@media print {
    button {
        display: none !important;
    }

    .devis-container {
        box-shadow: none;
        width: 100%;
    }
}


