/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10 févr. 2025, 11:46:35
    Author     : enzor
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 500px; /* Ajuste si besoin */
    margin: auto;
}

.card {
    width: 100px; /* Ajuste si besoin */
    height: 100px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.card img, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card .back {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.card.flip {
    transform: rotateY(180deg);
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card .front {
    transform: rotateY(180deg);
}

.card img {
    transform: rotateY(180deg);
}
